&.summary       {
  .wrapper      { padding:40px; }
  .hosts        { display:flex;
    .host       { display:flex;
      .icon     {
        svg *   { stroke: #274D69; }
      }
      .details  { margin-left:20px;
        .title  { font-style:italic; font-weight:medium; font-size: 13px; color::#71848C;}
        .specs  { color: #274D69;
          .spec { }
        }
      }
    }
  }
}
