.step.configuration
  .option.picked
    .icon(data-id="redundant")
      img.shadow-icon(data-src="horizontal-cluster")
      .check-icon
        img.shadow-icon(data-src="check")
    .title Horizontal Cluster
    .blurb Cluster one or more instances of this component. Each instance lives on it’s own server for redundancy and greater performance. 

  .option
    .icon(data-id="single")
      img.shadow-icon(data-src="horizontal-single")
      .check-icon
        img.shadow-icon(data-src="check")    
    .title Single
    .blurb A single instance of this component  installed on a single multi-component server.
    
