.step-manager
  .wrapper
    .step-key
      .step-count Step <span id='current-step'>1</span> of <span id='total-steps'>3 : </span>
      .step-title Review And Submit
      .ui-btn.cancel 
        img.shadow-icon(data-src="cancel-x")
        .txt Cancel
    .step-wrapper
      .steps
    .ui
      .ui-btn.back 
        img.shadow-icon(data-src="back-arrow")
        .txt Back
      .btn.forward
        img.shadow-icon(data-src="next-btn")
