.step.summary
  .hosts
    .host
      .icon
        img.shadow-icon(data-src="horizontal-cluster")
      .details
        .title AWS Instance Specs
        .specs
          .spec 1 GB RAM
          .spec 1 CPU CORE
          .spec 30 GB SSD DISK
          .spec $0.04/hr
